@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "遊ゴシック Medium", "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color:#444;
}

a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
}

/* HEADER */
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 20px;
    margin-right: 0px;
}
.main-nav a{
    color: 444;
}
.main-nav a:hover{
    color: #000;
}

.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 大きな背景画像 */
.big-back {
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 1;
}
#home {
    background-image: url(../images/top_bg.png);
    min-height: 100vh;
}
#home .page-title{
    text-transform: none;
    
}
.profile-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
    margin-left: 100px;
}
.profile-body{
    margin-left: 100px;
}

/* CONTACT */
.contact{
    margin:100px;
}
input[type="text"],
input[type="email"],
textarea{
    background: rgba(200, 200, 200, 0.5);
    border:1px #000 solid;
}